.Page-Home{
  background-image: url('../../assests/wave.png');
  background-repeat:no-repeat;
  width: 100%;
  height: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s;
  
}

.Container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1325px;
  height: 554px;
  transition: 0.8s;
}
.Container-login{
  width: 400px;
  height: 536px;
  background-color: #f8f2f2;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.Container-img1{
  width: 682px;
  height: 553px;
  background-image: url('../../assests/pessoas.png');
  
}
.Container-login h2{

  font: Semi-bold 600;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  
}
.form{
  font-size: 16px;
  width: 80%;
  position: relative;
  height: 50px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 40px;
}
.form input{
  width: 100%;
  height: 100%;
  color: black;
  padding-top: 20px;
  border: none;
  background-color: transparent;
  outline: none;
  
  
}
.form label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
  font-family: 'Archivo', sans-serif;
}
.form label::after{
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #00BFA6;
  transform: translateX(100%)
}

.content-name{
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}
.form input:focus + .label-name .content-name, .form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color:#00BFA6;
  
}
.form input:focus + .label-name::after,
.form input:valid + .label-name::after{
  transform: translateX(0%);
}


.Container-Button-Cadastro{
  width: 50%;
  height: 45px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  margin-top: 30px;
  transition: 0.8s;
}
.Button-Cadastro{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 1.8rem;
  color: black;
  border: none;
  background-color: transparent;
}
.Container-Button-Cadastro:hover{
  background-color:#00BFA6;
}
@media(max-width: 1400px){
  .Container{
    width: 1020px;
  }
}
@media(max-width: 1100px){
  .Container{
    width: 400px;
    height: 536;
  }
  .Container-img{
    background-image: none;
    width: 2px;
    height: 2px;
  }
}
@media(max-width: 900px){
  .Page-Home{
    background-image: url('../../assests/wave1.png');
  }
}
@media(max-width: 600px){
  .Page-Home{
    background-image: none;
  }
}
@media(max-width: 400px){
  .Container-login{
    width: 375px;
    background-color: transparent;
  }
}